/*Fuentes importadas*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "League Spartan",sans-serif; */
/* font-family: "Montserrat", sans-serif; */
* {
  margin: 0;
  padding: 0;
  line-height: 1.2; }

.navbar {
  background-color: #00007f;
  padding: 0; }

.navbar-nav .nav-link.active {
  color: #ffffff; }

.navbar-nav {
  align-items: center; }

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
  margin-right: 40px; }

.navbar-toggler:focus {
  border-color: #00007f;
  outline: 0;
  box-shadow: none; }

.navbar-toggler-icon {
  background-image: url("../resources/icon-menu-hamburguesa.png"); }

.nav-link {
  color: #ffffff;
  font-size: 25px;
  margin: 8px; }

.nav-link:hover {
  color: #cfcece; }

.img-logo-nav {
  width: 160px;
  margin-left: 40px;
  transition: ease-in-out 0.3s; }

.img-logo-nav:hover {
  transform: scale(1.06); }

body {
  background-color: #ffffff;
  font-family: "League Spartan",sans-serif !important; }

.background-index {
  /* background: linear-gradient($c_blanco, $c_blanco); */
  background: url("https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg"); }

.main-sagrada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: solid 2px; */
  overflow: hidden; }

.h1-txt-logo {
  position: absolute;
  inset: 0;
  top: 30%;
  color: #ffffff;
  font-family: "League Spartan";
  font-weight: bold;
  font-size: 160px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.769);
  z-index: 1; }

.carousel-item {
  height: 600px;
  object-fit: cover;
  filter: brightness(30%); }

.img-carru {
  width: 1910px;
  height: auto; }

/* INICIO SECTION (SEGURIDAD)*/
.cont-s-seguridad {
  display: flex;
  align-items: center;
  padding: 17px;
  flex-wrap: wrap;
  /* border: solid 2px; */ }

.s-seguridad {
  align-items: center;
  background-color: aliceblue;
  margin: auto;
  width: 1200px;
  height: auto;
  box-shadow: 0px 2px 6px 4px rgba(78, 78, 78, 0.255);
  transition: ease-in 0.3s;
  border-radius: 12px;
  overflow: hidden; }

.s-seguridad:hover {
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.743);
  border-radius: 12px;
  background-color: #e3effa; }

.s-h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 89px;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding: 17px; }

.s-p {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  padding: 17px; }

.s-img-seguridad {
  width: 500px;
  height: auto;
  border-radius: 10px;
  /* margin-right: 64px; */
  box-shadow: 12px 6px 6px 5px rgba(78, 78, 78, 0.465); }

/* INICIO SECTION (LIMPIEZA)*/
.cont-s-limpieza {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  padding: 17px;
  flex-wrap: wrap; }

.s-limpieza {
  display: flex;
  align-items: end;
  flex-direction: column;
  background-color: aliceblue;
  margin-right: 64px;
  width: 1190px;
  height: auto;
  box-shadow: 0px 2px 6px 4px rgba(78, 78, 78, 0.255);
  transition: ease-in 0.3s;
  border-radius: 12px;
  overflow: hidden; }

.s-limpieza:hover {
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.743);
  border-radius: 12px;
  background-color: #fff9f7; }

.l-h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 89px;
  text-transform: uppercase;
  /* margin-bottom: 32px; */
  padding: 17px;
  text-align: end; }

.l-p {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  padding: 17px;
  /* text-align: end; */ }

.img-limpieza {
  justify-content: center;
  align-items: center;
  width: 520px;
  height: auto;
  border-radius: 10px;
  margin-right: 64px;
  width: 500px;
  box-shadow: 12px 6px 6px 5px rgba(78, 78, 78, 0.465); }

/* CONTINUACION DEBAJO PARA 2DA ENTREGA DEL INDEX.HTML */
.cont-h1-ofrecer {
  display: flex;
  justify-content: center;
  padding: 40px; }

.cont-h1-ofrecer h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 140px;
  text-transform: uppercase;
  text-shadow: 12px 10px 5px black; }

.fondo-ofrecer {
  /* border: solid 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url("../resources/fondo-index2.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: 300px; }

.cont-ofrecer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#ffffff, #ffffff); }

.text-ofrecer {
  background-color: #170da3;
  color: #ffffff;
  margin: 10px 0px;
  border: solid 2px #000;
  border-radius: 10px;
  padding: 20px;
  font-family: "League Spartan", sans-serif;
  font-size: 42px;
  width: 1500px;
  margin-bottom: 80px;
  margin-top: 70px;
  box-shadow: 6px 4px 4px #000; }

.cont-caja-ofrecer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ffffff; }
  .cont-caja-ofrecer svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }

.h1-cajas {
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  margin: 0px 0px 30px; }

.caja-1-ofrecer {
  background-color: #ffffff;
  background-image: url("../resources/cabezal-panel.svg");
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  border: solid 2px;
  border-radius: 6px;
  width: 340px;
  height: 650px;
  padding: 5px;
  box-shadow: 4px 2px 1px #000;
  overflow: hidden;
  transition: ease-in 0.4s;
  z-index: 1; }

.caja-1-ofrecer:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px 6px #5d5da97f; }

.caja-1-ofrecer h1, .caja-2-ofrecer h1, .caja-3-ofrecer h1 {
  margin-top: 20px;
  margin-bottom: 90px;
  color: #ffffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.941); }

.cont-caja-p-beneficio {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  /* border-top: solid 1px; */
  margin: 0; }

.p-cajas-beneficio {
  font-family: "League Spartan", sans-serif;
  font-size: 19px;
  /* border: solid 2px; */
  margin: 0;
  /* padding: 10px; */ }

.tick-p-row {
  /* border: solid 2px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0; }

.tick-img {
  width: 24px;
  height: auto; }

.caja-1-ofrecer strong, .caja-2-ofrecer strong, .caja-3-ofrecer strong {
  font-size: 24px; }

.caja-2-ofrecer {
  background-color: #ffffff;
  background-image: url("../resources/cabezal-panel.svg");
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  border: solid 2px;
  border-radius: 6px;
  width: 350px;
  height: 650px;
  padding: 5px;
  box-shadow: 4px 2px 1px #000;
  overflow: hidden;
  transition: ease-in 0.4s;
  z-index: 1; }

.caja-2-ofrecer:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px 6px #0000877f; }

.caja-3-ofrecer {
  margin-top: -1.6%;
  background-color: #ffffff;
  background-image: url("../resources/cabezal-panel-sagrada.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  border: solid 2px;
  border-radius: 6px;
  width: 360px;
  height: 710px;
  padding: 5px;
  box-shadow: 4px 2px 1px #000;
  overflow: hidden;
  transition: ease-in 0.4s;
  z-index: 1; }

.caja-3-ofrecer:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 44px 6px #ff9100; }

.boton-cajas {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  background-color: #2113e3;
  padding: 10px;
  width: 200px;
  height: auto;
  text-align: center;
  color: #ffffff;
  border: solid 1px #000;
  transition: 0.3s;
  margin: 0; }

.boton-cajas:hover {
  background-color: #2b21b6; }

.boton-cajas-sagrada {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff6310;
  padding: 10px;
  width: 200px;
  height: auto;
  text-align: center;
  color: #ffffff;
  border: solid 1px #000;
  transition: 0.3s; }

.boton-cajas-sagrada:hover {
  background-color: #ff772d; }

.cont-ubicados {
  /* margin-top: 180px; */
  /* border: solid 12px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.ubicados-draw-1 {
  /* border: solid 2px; */
  position: absolute;
  left: 1%;
  width: 650px; }

.ubicados-draw-2 {
  /* border: solid 2px; */
  position: absolute;
  right: 2%;
  width: 560px; }

.fondo-h1-ubicados {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.421), rgba(0, 0, 0, 0.54)), url("https://cdn.discordapp.com/attachments/1228542950636781569/1229852676141879489/map-4152197_1920.jpg?ex=6631308f&is=661ebb8f&hm=314d10cca084e81455c5c4cc1451566aa5fd445d7a67c215304ea3f2ce71b3f8&");
  background-size: cover;
  background-position: left;
  height: 350px;
  width: 100%; }

.ubicados-h1 {
  display: flex;
  color: white;
  background-color: #2b21b6d7;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  /* width: 900px; */
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  justify-content: center; }

.p-ubicados-despedida {
  background-color: #1300bb;
  border-radius: 12px;
  padding: 12px;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 60px; }

.p-ubicados {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  margin-top: 10px;
  background-color: #1300bb;
  border-radius: 10px;
  padding: 12px; }

.mapa-iframe {
  margin-top: 2%;
  width: 500px;
  border-radius: 100%;
  transition: 1s ease-in;
  z-index: 1; }

.mapa-iframe:hover {
  transition: 0.5s ease-in-out;
  border-radius: 20%; }

.cont-dudas {
  /* border: solid 2px; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin-top: 32px; */ }

.cont-dudas p {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  border-bottom: solid 2px; }

.a-dudas {
  font-weight: 500;
  text-decoration: none; }

/* FORMULARIO-CONTACTO.HTML */
.background-contacto {
  background: radial-gradient(circle at 60% 40%, #00007f 25%, transparent 26%), radial-gradient(circle at 40% 60%, #00006e 25%, transparent 26%);
  background-size: 8em 8em;
  background-color: #00004f;
  opacity: 1; }

.encabezado-contacto {
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.514)), url("https://media.discordapp.net/attachments/1228542950636781569/1232762148741189692/rawpixel-com-lifeofpix-rawpixelcom1624-307582.jpg?ex=66328bb7&is=66313a37&hm=f6a64c403442bd7950be43c2c60e231066f79a0be9e016f15ac7747909df3bc8&=&format=webp&width=952&height=671");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px; }

.form-check {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 5px;
  align-self: start;
  justify-self: center;
  margin-left: 12px; }

.form-check label {
  width: 450px;
  font-weight: 360; }

.form-check-input[type=checkbox] {
  border: solid 1px #0000004e;
  cursor: pointer; }

.h1-encabezado-contacto-fondo {
  background-color: #0c00adc2;
  padding: 10px;
  margin-left: 40px; }

.h1-encabezado-contacto {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #ffffff; }

.cont-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.formulario {
  position: relative;
  background-color: #ffffff;
  width: 700px;
  height: 1000px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  border-right: solid 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%; }

.fondo-img-contacto {
  position: relative;
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  height: auto;
  z-index: -1;
  margin-top: 5%;
  margin-bottom: 5%;
  right: 17px; }

.img-contacto {
  position: absolute;
  align-self: center;
  width: 650px;
  height: auto;
  right: -50px; }

.formulario h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 40px;
  border-bottom: solid 2px; }

.formulario textarea {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  resize: none; }

.formulario input {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  margin: 10px;
  padding: 8px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: #272727 solid 1px;
  border-radius: 0px; }

.formulario p {
  position: relative;
  top: 2%;
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  font-weight: 300;
  align-self: flex-start;
  margin-left: 9px;
  /* border-bottom: double 1.4px; */ }

.formulario .btn-form {
  cursor: pointer;
  background-color: #dddddd;
  border-radius: 10px;
  width: 400px;
  transition: ease-in 0.2s; }

.btn-form:hover {
  background-color: #2113e3;
  color: #ffffff; }

.formulario textarea:focus, input:focus {
  border-bottom: solid 2px;
  border-color: #0a009a; }

/* INICIO NOSOTROS.HTML */
.fondo-nosotros {
  /* FONDO PATTERN SACADO DE GOOGLE PRUEBA */
  background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#ffffff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #ffffff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; }

.cont-nosotros-img {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.421), rgba(0, 0, 0, 0.54)), url("https://media.discordapp.net/attachments/1228542950636781569/1228543061466812426/banner-nosotros.jpg?ex=66325ba3&is=66310a23&hm=15003973732d1a0b1e616ce32e3080782229d47fde56661fd37981e2abb1aef9&=&format=webp&width=1920&height=1080");
  background-size: cover;
  background-attachment: fixed;
  height: 480px; }

.cont-nosotros-img h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  background-color: #2113e3bf;
  width: 900px;
  padding: 15px;
  color: aliceblue;
  margin-left: 45px; }

.nosotros-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-attachment: fixed; }

.cont-nosotros {
  /* border: solid 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: ease 0.3s;
  flex-wrap: wrap; }

.s-nosotros {
  background-color: white;
  border: solid 1px;
  border-radius: 10px;
  width: 1600px;
  padding: 10px;
  box-shadow: 10px 8px 6px 5px rgba(33, 33, 33, 0.907);
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.3s; }

.s-nosotros:hover {
  transform: scale(1.01); }

.h1-nosotros {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
  font-size: 69px;
  text-align: start;
  color: #000000; }

.p-nosotros {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  padding: 10px; }

.cont-nosotros2 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: 2px solid; */
  flex-wrap: wrap; }

.cont-nst-h1 {
  height: auto;
  overflow-x: hidden;
  background-color: #000746;
  border: 2px solid black;
  text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.769); }

.h1-nosotros2 {
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 110px;
  text-align: center;
  margin-top: 17px;
  padding: 40px; }

.h1-caja {
  font-family: "League Spartan", sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center; }

.caja-nosotros {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 370px;
  height: 400px;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 6px 5px 4px 5px rgba(33, 33, 33, 0.907);
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  margin: 20px; }

.caja-nosotros:hover {
  transform: scale(1.04);
  background-color: #ffffff; }

.p-cajas {
  font-family: "League Spartan", sans-serif;
  font-size: 26px;
  font-weight: 450;
  padding: 12px;
  text-align: center; }

/* PREGUNTAS FRECUENTES.HTML (FAQ) */
.cont-encabezado-faq {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.385), rgba(0, 0, 0, 0.219)), url("https://media.discordapp.net/attachments/1228542950636781569/1235002945007915078/fondo-faq.jpg?ex=6632c99f&is=6631781f&hm=794ecf5d8bb60d013ee002876423786b31e48f293aec3d5db52ab79a6e3dac93&=&format=webp&width=1920&height=1080");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  /* border: solid 2px; */
  height: 400px; }

.h1-encabezado-faq {
  background-color: #2113e3d5;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 89px;
  color: #ffffff;
  padding: 15px;
  margin-left: 40px; }

.cont-s-faq {
  border: solid 2px;
  display: flex;
  justify-content: center;
  padding: 20px;
  /* BACKGROUND SACADO DE GOOGLE PRUEBA */
  background: radial-gradient(circle at 60% 40%, #00007f 25%, transparent 26%), radial-gradient(circle at 40% 60%, #00006e 25%, transparent 26%);
  background-size: 8em 8em;
  background-color: #00004f;
  opacity: 1; }

.s-faq {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border: solid 2px;
  border-radius: 10px;
  width: 1000px;
  height: auto;
  padding: 20px;
  box-shadow: 6px 4px 6px #000;
  transition: ease-in 0.3s;
  overflow: hidden; }

.cont-pie-fondo-faq-p {
  align-self: center;
  width: 580px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 1px; }

.pie-fondo-faq-p {
  margin: 0; }

.pie-fondo-faq-p a {
  text-decoration: none;
  font-weight: 500; }

.accordion-item {
  font-weight: 550;
  font-size: 20px; }

.accordion-button {
  font-size: 24px; }

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #2113e368; }

.gif-conv {
  position: absolute;
  /* border: solid 2px; */
  align-self: self-end;
  width: 100px;
  height: auto; }

.s-faq:hover {
  transform: scale(1.004); }

.faq-h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px; }

.faq-h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  margin-bottom: 12px; }

.faq-p {
  font-family: "League Spartan", sans-serif;
  font-size: 22px; }

/* INICIO GALERIA.HTML  */
.background-galeria {
  background: radial-gradient(circle at 60% 40%, #00007f 25%, transparent 26%), radial-gradient(circle at 40% 60%, #00006e 25%, transparent 26%);
  background-size: 8em 8em;
  background-color: #00004f;
  opacity: 1; }

.cont-galeria-h1 {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url("https://media.discordapp.net/attachments/1228542950636781569/1235003150231146619/img-galeria.jpg?ex=6632c9d0&is=66317850&hm=4a119d0eed745b5f5f5f2f301c4642369a2985315f9b300656b8ae40896e7438&=&format=webp&width=1920&height=1080");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40px;
  height: 500px;
  margin-bottom: 40px;
  border: solid #000000ad 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center; }

.galeria-h1 {
  background-color: #2113e3d5;
  padding: 20px;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  align-self: center;
  font-weight: bold;
  font-size: 180px;
  margin-top: 20px;
  text-shadow: 6px 17px 20px black; }

/* GRID GALERIA.HTML */
.cont-galeria {
  margin: 0px 10px 10px;
  display: grid;
  grid-template-areas: "img1 img2 img3" "img1 img4 img5" "img6 img7 img7";
  /* grid-template-rows: repeat(2, 400px); */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 5px; }

.cont-galeria img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  box-shadow: 12px 6px 6px 6px rgba(0, 0, 0, 0.692); }

.img-1 {
  grid-area: img1;
  /* background-color: rgb(158, 0, 0); */ }

.img-1 img {
  /*AJUSTE DE ALTURA POR SEPARADO DEPENDIENDO LA IMG*/
  height: 805px;
  object-fit: cover; }

.img-2 {
  grid-area: img2;
  /* background-color: rgb(93, 151, 0); */ }

.img-3 {
  grid-area: img3;
  /* background-color: rgb(0, 17, 131); */ }

.img-4 {
  grid-area: img4;
  /* background-color: rgb(143, 0, 128); */ }

.img-4 img {
  /*AJUSTE DE ALTURA POR SEPARADO DEPENDIENDO LA IMG*/
  height: 400px; }

.img-5 {
  grid-area: img5; }

.img-6 {
  grid-area: img6; }

.img-7 {
  grid-area: img7; }

.cont-galeria2-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background: url("https://images.unsplash.com/photo-1482449609509-eae2a7ea42b7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); }
  .cont-galeria2-h1 h1 {
    margin-top: 10px;
    font-size: 8.2rem;
    font-weight: 700;
    color: white;
    background-color: #1300bcb8; }

.cont-galeria2 {
  margin: 0px 10px 10px;
  display: grid;
  grid-template-areas: "img8 img9 img9" "img8 img10 img13" "img11 img12 img13" "img14 img14 img15";
  grid-gap: 5px; }
  .cont-galeria2 img {
    width: 100%;
    height: 450px;
    object-fit: cover; }
  .cont-galeria2 .img-8 {
    grid-area: img8; }
    .cont-galeria2 .img-8 img {
      height: 905px; }
  .cont-galeria2 .img-9 {
    grid-area: img9; }
  .cont-galeria2 .img-10 {
    grid-area: img10; }
  .cont-galeria2 .img-11 {
    grid-area: img11; }
  .cont-galeria2 .img-12 {
    grid-area: img12; }
  .cont-galeria2 .img-13 {
    grid-area: img13; }
    .cont-galeria2 .img-13 img {
      height: 905px; }
  .cont-galeria2 .img-14 {
    grid-area: img14; }
  .cont-galeria2 .img-15 {
    grid-area: img15; }

/* INICIO FOOTER */
.cont-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00054d;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden; }

.footer-item2 {
  display: flex;
  flex-direction: column; }

.h1-footer {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.icon-foot-text {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  margin-top: 10px;
  text-align: start;
  text-decoration: none;
  color: #ffffff; }

.icons-footer {
  width: 22px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
  /*por lo visto centra el icono con el texto*/ }

.footer-item3 {
  /* border: solid 2px; */
  display: flex;
  flex-direction: column; }

.logo-footer {
  width: 300px;
  height: auto; }

.copy-footer {
  background-color: #000441;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 0; }

.p-copy-footer {
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0; }

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1852px) {
  .cont-s-limpieza {
    flex-direction: column;
    margin: 0; }
  .s-limpieza {
    display: flex;
    align-items: center;
    width: 1000px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px; }
  .img-limpieza {
    margin-top: 50px;
    width: 600px;
    margin: 0; } }

@media (max-width: 1733px) {
  .cont-s-seguridad {
    flex-direction: column;
    margin: 0; }
  .s-seguridad {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 1000px;
    margin-bottom: 20px; } }

@media (max-width: 1666px) {
  /* INICIO */
  .cont-h1-ofrecer h1 {
    font-size: 110px; }
  .ubicados-h1 {
    font-size: 110px; }
  /* NOSOTROS */
  .s-nosotros {
    width: 1200px; } }

@media (max-width: 1333px) {
  /* INICIO */
  .main-sagrada {
    height: 450px; }
  .h1-txt-logo {
    font-size: 120px; }
  .ubicados-draw-1 {
    display: none; }
  .ubicados-draw-2 {
    display: none; }
  .text-ofrecer {
    width: 1100px;
    text-align: center; }
  .cont-h1-ofrecer h1 {
    font-size: 89px; }
  /* NOSOTROS */
  .s-nosotros {
    width: 1000px; }
  .h1-nosotros {
    text-align: center; }
  /* GALERIA */
  .cont-galeria {
    grid-template-areas: "img1 img2" "img1 img3" "img4 img5" "img6 img7"; }
  .cont-galeria2 {
    grid-template-areas: "img8 img9" "img8 img10" "img11 img12" "img13 img15" "img14 img14"; }
    .cont-galeria2 .img-15 img {
      height: 905px; } }

@media (max-width: 1089px) {
  /* INICIO */
  .main-sagrada {
    height: 300px; }
  .h1-txt-logo {
    font-size: 80px;
    top: 20%; }
  .s-seguridad {
    width: 600px; }
  .s-limpieza {
    width: 600px; }
  .fondo-ofrecer {
    height: 200px; }
  .cont-h1-ofrecer h1 {
    font-size: 70px; }
  .text-ofrecer {
    width: 600px; }
  .fondo-h1-ubicados {
    height: 200px; }
  .ubicados-h1 {
    font-size: 60px; }
  .p-ubicados {
    width: 800px;
    text-align: center; }
  /* NOSOTROS */
  .cont-nosotros-img h1 {
    text-align: center;
    margin: 0;
    width: 1060px; }
  .s-nosotros {
    width: 600px; }
  .h1-nosotros2 {
    font-size: 89px; }
  /* GALERIA */
  .cont-galeria {
    grid-template-areas: "img1" "img1" "img2" "img3" "img4" "img5" "img6" "img7"; }
  .cont-galeria2 {
    grid-template-areas: "img8" "img8" "img9" "img9" "img10" "img11" "img12" "img13" "img13" "img14" "img14" "img15"; }
  .cont-galeria2-h1 h1 {
    font-size: 5.8rem; }
  /* CONTACTO */
  .h1-encabezado-contacto-fondo {
    margin: 0;
    text-align: center; }
  .h1-encabezado-contacto {
    margin: 0;
    font-size: 60px;
    text-align: center; }
  .cont-form {
    justify-content: start; }
  .fondo-img-contacto {
    display: none; } }

@media (max-width: 800px) {
  /* INICIO */
  .cont-h1-ofrecer h1 {
    font-size: 60px; }
  .ubicados-h1 {
    font-size: 50px; }
  .p-ubicados {
    width: 600px; }
  .caja-3-ofrecer {
    margin-top: 20px; }
  /* PREGUNTAS FRECUENTES */
  .h1-encabezado-faq {
    font-size: 50px;
    margin: 0;
    text-align: center; }
  /* CONTACTO */
  .cont-form {
    justify-content: center;
    margin: 0; }
  .formulario {
    margin-left: 0; } }

@media (max-width: 760px) {
  /* INICIO */
  .fondo-ofrecer {
    height: 150px; }
  .cont-h1-ofrecer h1 {
    font-size: 52px; }
  /* GALERIA */
  .cont-galeria-h1 {
    height: 300px; }
  .galeria-h1 {
    font-size: 120px; }
  /* CONTACTO */
  .encabezado-contacto {
    height: 200px;
    margin-bottom: 20px; }
  .h1-encabezado-contacto {
    font-size: 40px; }
  .formulario {
    width: 525px; }
  .formulario h1 {
    font-size: 50px; }
  .formulario textarea {
    width: 400px; }
  .form-check label {
    width: 350px; }
  .cont-galeria2-h1 h1 {
    font-size: 3.2rem; } }

@media (max-width: 674px) {
  /* INICIO */
  .h1-txt-logo {
    font-size: 60px; }
  .main-sagrada {
    margin-bottom: 40px; }
  .s-seguridad {
    width: 450px; }
  .s-h1 {
    font-size: 60px; }
  .s-limpieza {
    width: 450px; }
  .l-h1 {
    font-size: 60px; }
  .img-limpieza {
    width: 450px; }
  .caja-2-ofrecer {
    margin-top: 20px; }
  .logo-footer {
    width: 600px; }
  /* NOSOTROS */
  .cont-nosotros-img h1 {
    font-size: 70px; }
  .h1-nosotros2 {
    font-size: 60PX; }
  .s-nosotros {
    width: 400px; } }

@media (max-width: 600px) {
  /* INICIO */
  .cont-h1-ofrecer h1 {
    font-size: 40px; }
  .text-ofrecer {
    width: 450px; }
  .text-ofrecer p {
    font-size: 32px; }
  .fondo-h1-ubicados {
    height: 150px; }
  .ubicados-h1 {
    font-size: 40px; }
  .p-ubicados {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 30px; }
  .p-ubicados-despedida {
    font-size: 40px; }
  .logo-footer {
    width: 400px; }
  /* FAQ */
  .cont-pie-fondo-faq-p {
    width: 400px; } }

@media (max-width: 520px) {
  /* INICIO */
  .main-sagrada {
    height: 200px; }
  .h1-txt-logo {
    font-size: 40px;
    top: 14%; }
  .s-img-seguridad {
    width: 332px; }
  .img-limpieza {
    width: 332px; }
  .fondo-ofrecer {
    height: 100px; }
  .cont-h1-ofrecer h1 {
    font-size: 32px; }
  .mapa-iframe {
    width: 400px;
    height: 400px; }
  /* GALERIA */
  .cont-galeria-h1 {
    height: 220px; }
  .galeria-h1 {
    font-size: 72px; }
  /* CONTACTO */
  .h1-encabezado-contacto {
    font-size: 42px; }
  .formulario {
    width: 450px; }
  .formulario h1 {
    font-size: 50px; }
  .formulario textarea {
    width: 300px; }
  .form-check label {
    width: 300px; } }

@media (max-width: 468px) {
  /* INICIO */
  .s-seguridad {
    width: 350px; }
  .s-limpieza {
    width: 350px; }
  .text-ofrecer {
    width: 400px; }
  /* FAQ */
  .cont-pie-fondo-faq-p {
    width: 350px; }
  /* CONTACTO */
  .formulario {
    width: 400px; }
  .formulario h1 {
    font-size: 40px; }
  .formulario textarea {
    width: 280px; }
  .form-check label {
    width: 280px; }
  .formulario .btn-form {
    width: 300px; } }

@media (max-width: 438px) {
  /* INICIO */
  .cont-dudas p {
    font-size: 17px; }
  .cont-h1-ofrecer h1 {
    font-size: 20px; }
  .text-ofrecer {
    width: 350px; }
  .p-ubicados {
    width: 200px; }
  .mapa-iframe {
    width: 300px;
    height: 300px; }
  .cont-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .logo-footer {
    width: 300px; }
  .footer-item2 {
    width: 150px; }
  .h1-footer {
    width: 50px; }
  .footer-item3 {
    margin-top: 20px;
    width: 150px; }
  /* NOSOTROS */
  .cont-nosotros-img h1 {
    font-size: 50px; }
  .s-nosotros {
    width: 300px; }
  .h1-nosotros {
    font-size: 50px; }
  .p-nosotros {
    font-size: 26px;
    text-align: center; }
  .h1-nosotros2 {
    font-size: 40px; }
  /* CONTACTO */
  .encabezado-contacto {
    height: 200px; }
  .h1-encabezado-contacto {
    font-size: 32px; }
  .formulario {
    width: 350px;
    height: 800px;
    padding: 17px; }
  .formulario h1 {
    font-size: 35px;
    margin-bottom: 5px; }
  .formulario textarea {
    width: 280px; }
  .form-check label {
    width: 220px; }
  .formulario .btn-form {
    width: 300px; }
  .cont-galeria2-h1 h1 {
    font-size: 2.6rem; } }

@media (max-width: 366px) {
  /* INICIO */
  .s-seguridad {
    width: 250px; }
  .s-p {
    font-size: 25px; }
  .s-img-seguridad {
    width: 250px; }
  .s-h1 {
    font-size: 40px; }
  .s-limpieza {
    width: 250px; }
  .l-h1 {
    font-size: 40px; }
  .l-p {
    font-size: 25px; }
  .img-limpieza {
    width: 250px; }
  .text-ofrecer {
    width: 250px; }
  .caja-1-ofrecer {
    width: 309px; }
  .caja-2-ofrecer {
    width: 346px; }
  .caja-3-ofrecer {
    width: 340px; }
  /* FAQ */
  .cont-pie-fondo-faq-p {
    width: 280px; } }
